<% @aboutus = AboutUs.first %>
<div class="page">
  <%= render 'home/header' %>
  <section class="aboutTitle">
    <h1 class="aboutBanner"><%= @aboutus.title %></h1>
  </section>
  <section class="aboutBody">
    <p><%= @aboutus.body %></p>
  </section>
  <section class="aboutPic">
    <%= image_tag("edison.jpg") %>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
  </footer>
</div>
