<header>
  <a id= "topLink"></a>
    <div class="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", product_path %></li>
      <li><%= link_to "About Us", about_us_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><a href="#">Cart</a></li>
    </ul>
  <div class="pic">
    <%= image_tag("headerPic.jpg", class: "headerPic") %>
  </div>
  </div>
  <div class="searchBar">
    <%= form_tag search_results_path, method: :get do %>
      <%= text_field_tag :search_keywords %>
      <%= submit_tag 'Search', class: "searchButton" %>
    <% end %>
  </div>
</header>