<header>
  <a id= "topLink"></a>
  <div class="pic">
    <%= image_tag("headerPic.jpg", class: "headerPic") %>
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About Us", about_us_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><%= link_to "Products", product_path %></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </div>
</header>