<div class="sideBar">
  <ul class="sideBar">
    <li><%= link_to "All", product_path %></li>
    <li><%= link_to "Bakery", bakery_product_path %></li>
    <li><%= link_to "Imports", import_product_path %></li>
    <li><%= link_to "Deli", deli_product_path %></li>
    <li><%= link_to "Giftware", giftware_product_path %></li>
    <li><%= link_to "New", new_product_path %></li>
    <li><%= link_to "Sale", sale_product_path %></li>
    <li><a href="#topLink">Back to Top</a></li>
  </ul>
</div>