<%= image_tag(@show_products.photo, class: "showImage") %>
<div class="showBoxContent">
  <p><%= @show_products.desc %></p>
  <p><%= number_to_currency(@show_products.price) %></p>
  <% if @show_products.stock_q >=5 then %>
    <p class="stockGood">Amount in stock: <%= @show_products.stock_q %></p>
  <% elsif @show_products.stock_q <=5 || @show_products.stock_q >0 then %> 
    <p class="stockLow">Amount in stock: <%= @show_products.stock_q %></p>
  <% else %>
    <p class="noStock">Amount in stock: <%= @show_products.stock_q %></p>
  <% end %>
</div>
