<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="allProducts">
    <h1 class="dataBanner">Products</h1>
    <div class="dataContent">
      <%= render partial: 'allProducts', collection: @all_products, as: "all_products" %>
    </div>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
    <%= paginate @products %>
  </footer
</div>